body {
    padding: 10px;
}

.listing_block {
    display: flex;
    flex-direction: column;
}

.listing_block_input {
    display: flex;
    flex-direction: column;
}

.listing_container {
    display: flex;
}

.listing_info_container {
    display: flex;
    flex-direction: column;
}