{% extends "auctions/layout.html" %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            <h2>{{ listing.title }}</h2>
            <div class="container">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-4 position-relative">
                        <img src="{{ listing.imageUrl }}" class="img-fluid" alt="{{ listing.title }}">
                        <form method="POST" action="{% url 'toggle_watchlist' listing.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="is_added_to_watchlist" value="{% if listing in user.watchlist.all %}1{% else %}0{% endif %}">
                            <button type="submit"
                                    class="btn {% if listing in user.watchlist.all %}btn-secondary{% else %}btn-outline-secondary{% endif %} watchlist-btn">
                                {% if listing in user.watchlist.all %}
                                    Remove from Watchlist
                                {% else %}
                                    Add to Watchlist
                                {% endif %}
                            </button>
                        </form>
                    </div>
                    <div class="col-md-8">
                        <h3>Details</h3>
                        <ul>
                            <li><strong>Listed by:</strong> <a href="#">{{ listing.owner.username }}</a></li>
                            <li><strong>Description:</strong> {{ listing.description }}</li>
                            <li><strong>Category:</strong> {{ listing.category.name }}</li>
                            <li><strong>Start price:</strong> ${{ listing.start_price }}</li>
                        </ul>
                        <h3>Bid</h3>
                        {% if listing.is_active %}
                            <ul>
                                {% if listing.last_bid %}
                                    <li><strong>Last bid:</strong> ${{ listing.last_bid.amount }}</li>
                                    <li><strong>By:</strong> {{ listing.last_bid.user }}</li>
                                    <li>{{ listing.bids.count }} bid(s) so far.</li>
                                {% else %}
                                    <li>There are no bids yet. Be the first!</li>
                                {% endif %}
                            </ul>
                            <form method="POST" action="{% url 'make_bid' listing.id %}">
                                {% csrf_token %}
                                <div class="input-group mb-3">
                                    <input type="text" name="bid" class="form-control" placeholder="Bid" aria-label="Bid">
                                    <button class="btn btn-outline-secondary" type="submit">Place Bid</button>
                                </div>
                            </form>
                        {% else %}
                            <div class="alert alert-light" role="alert">
                                 This listing was closed for bidding
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="border-left: 1px solid #ddd;">
            <h3>Add Comment</h3>
            <form method="POST" action="{% url 'make_comment' listing.id %}">
                {% csrf_token %}
                <div class="card">
                    <textarea name="content" class="card-body" rows="1" style="outline: none; resize: none; border: none;" onfocus="none;"></textarea>
                    <button class="card-footer btn">
                        Make new comment
                    </button>
                </div>
            </form>
            <hr>
            <h3>All Comments</h3>
            <div style="max-height: 300px; overflow-y: auto;">
                {% for comment in listing.comments.all|dictsortreversed:"time_of_posting" %}
                    <div class="card mb-3">
                        <div class="card-header">
                            <strong class="small">{{ comment.user.username }}</strong>
                            <span class="text-muted small">commented on {{ comment.time_of_posting|date:"d M Y H:i" }}</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ comment.content }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>
    {% if listing.owner == user %}
        <div class="alert alert-light d-flex align-items-center justify-content-between">
            You are owner of this listing, so you can manage it
            <form method="POST" action="{% url 'toggle_listing' listing.id %}">
                {% csrf_token %}
                <input type="hidden" name="is_active" value="{% if listing.is_active  %}1{% else %}0{% endif %}">
                <button type="submit"
                        class="btn {% if listing.is_active %}btn-secondary{% else %}btn-outline-secondary{% endif %}">
                    {% if listing.is_active %}
                        Close the bidding
                    {% else %}
                        Open the bidding
                    {% endif %}
                </button>
            </form>
        </div>
    {% endif %}
{% endblock %}