{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container mt-5">
        <h1>{{ listing.title }}</h1>
        <div class="row">
            <div class="col-md-4 position-relative">
                <img src="{{ listing.imageUrl }}" class="img-fluid" alt="{{ listing.title }}">
                <form method="POST" action="{% url 'toggle_watchlist' listing.id %}">
                    {% csrf_token %}
                    <input type="checkbox" class="btn-check" name="is_added_to_watchlist" id="btn-check-2-outlined"
                        {% if listing in user.watchlist.all %} checked {% endif %}
                        onchange="this.form.submit()">
                    <label class="btn btn-outline-secondary watchlist-btn" for="btn-check-2-outlined">
                        {% if listing in user.watchlist.all %}
                            Remove from Watchlist
                        {% else %}
                            Add to Watchlist
                        {% endif %}
                    </label>
                </form>
            </div>
            <div class="col-md-8">
                <h3>Details</h3>
                <ul>
                    <li><strong>Listed by:</strong> <a href="#">{{ listing.owner.username }}</a></li>
                    <li><strong>Description:</strong> {{ listing.description }}</li>
                    <li><strong>Category:</strong> {{ listing.category.name }}</li>
                    <li><strong>Current price:</strong>${{ listing.price }}</li>
                </ul>
                <p>{{ listing.bids_count }} bid(s) so far. Your bid is the current bid.</p>
                <form  method="POST">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" name="bid" class="form-control" placeholder="Bid" aria-label="Bid" aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="submit" id="button-addon2">Place Bid</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}